{% load staticfiles %}
<div class="fh5co-cta" style="background-image: url({% static 'images/domenico-loia.jpg' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="col-md-12 text-center animate-box">
					<h3>Where Imagination Meets Reality!</h3>
					<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
				</div>
			</div>
</div>
<footer id="fh5co-footer" role="contentinfo">
	<div class="container">
	    <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
	      <h3>Contact Us</h3>
	      <p>Ruston Colony,Chinchwad Pune-411033<br>Mobile NO-9763683339</p>

	      <p><a href="{% url 'contact' %}" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
	    </div>
	    <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
	      <h3>Our Services</h3>
	    <ul class="float">
	        <li><a href="{% url 'WebdevView' %}">Web Development</a></li>
	        <li><a href="{% url 'SoftwareView' %}">Software Development</a></li>
	        <li><a href="{% url 'gallary' %}">Photography</a></li>

	    </ul>
	    </div>

	    <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
	      <h3>Follow Us</h3>
	      <ul class="fh5co-social">
	        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	        <li><a href="https://www.facebook.com/24motionpictures/"><i class="fa fa-facebook"></i></a></li>
	        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	        <li><a href="https://www.instagram.com/24_motion_pictures/?hl=en"><i class="fa fa-instagram"></i></a></li>
	      </ul>
	    </div>
	</div>
</footer>
	