{% load staticfiles %}
<div id="fh5co-header">
	<div class="container">
			<!-- Mobile Toggle Menu Button -->
		<a href="{% url 'photo_list' %}" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<div id="fh5co-logo">
		<a href="">fotografy<span>.</span></a>
		</div>
		<nav id="fh5co-main-nav">
			<ul>
				<li><a href="{% url 'photo_list' %}">Home</a></li>
				<li><a href="#" data-nav-section="portfolio">Portfolio</a></li>
				<li><a href="#" data-nav-section="about">About</a></li>
				<li><a href="#" data-nav-section="contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</div>