{% extends 'layout/layout_software_page.html' %}
{% load staticfiles %}
{% block container %}
<div id="slider" data-section="home">
	<div class="owl-carousel owl-carousel-main owl-carousel-fullwidth">
		<div class="item" style="background: lightblue;">
		  	<div class="container" style="position: relative;">
		    	<div class="row animate-box" data-animate-effect="fadeIn">
					<div class="col-md-7 col-sm-7">
			    		<div class="fh5co-owl-text-wrap">
						    <div class="fh5co-owl-text">
						    	<h1 class="fh5co-lead ">App for iOs</h1>
								<h2 class="fh5co-sub-lead">Let's Build your Imagination into Reality</h2>
								<p class=""><a href="#" class="btn btn-primary btn-lg">View Case Study</a></p>
						   	</div>
						</div>
					</div>
					<div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 mobile-image">
					 	<div class="mobile"><img src="{% static 'Gallary/ios.png' %}" alt="Free HTML5 Template by FREEHTML5.co">
					 	</div>
					</div>
				</div>
		   	</div>
		</div>
			<!-- You may change the background color here.  -->
		<div class="item" style="background: #ba78ff;">
		    <div class="container" style="position: relative;">
		    	<div class="row animate-box" data-animate-effect="fadeIn">
				  	<div class="col-md-4 mobile-image">
				    	<div class="mobile"><img src="{% static 'Gallary/android.png' %}" alt="Free HTML5 Template by FREEHTML5.co"></div>
				    </div>
		    		<div class="col-md-7  col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-5">
			    		<div class="fh5co-owl-text-wrap">
						    <div class="fh5co-owl-text">
						    	<h1 class="fh5co-lead ">App for Andriod</h1>
								<h2 class="fh5co-sub-lead ">Lets create innovative that grow your Business</h2>
									<p class=""><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
						    </div>
						</div>
				    </div>

				</div>
		    </div>
		</div>
	</div>
</div>
<div id="fh5co-our-services" data-section="services">
		<div class="container">
			<div class="row row-bottom-padded-sm animate-box">
				<div class="col-md-12 section-heading text-center">
					<h1>Mobile Application Devlopement Service</h1>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-1"><span><i class="fa fa-android"></i></span></div>
						<h3>ANDROID APP DEVELOPMENT</h3>
						<p>We Offers a range of Android compatible mobile applications that not only simplifying your life but also the amplifies your future.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
						<h3>Made with Love</h3>
						<p>We love to create.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box animate-box">
						<div class="icon colored-2"><span><i class="fa fa-apple"></i></span></div>
						<h3>Ios APP DEVELOPMENT</h3>
						<p>We create high-tech Iphone appliaction that automate your business and ensures realiable service to end-user.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div id="fh5co-product-screenshots" data-section="screenshots">
		<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeIn">
			<div class="col-md-12 section-heading text-center">
				<h2>App Screenshots</h2>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						
					</div>
				</div>
			</div>
		</div>
		<div class="owl-carousel-center">
			<div class="animate-box" data-animate-effect="fadeIn"><img src="{% static 'Gallary/screen_login.jpg' %}" alt="24MotionPicture App1 Screenshots"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src="{% static 'Gallary/screen2_login.jpg' %}" alt="24MotionPicture App1 Screenshots"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src="{% static 'images/iphone-2.png' %}" alt="24MotionPicture App1 Screenshots"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src="{% static 'Gallary/chaivilla.png' %}" alt="24MotionPicture App1 Screenshots"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src="{% static 'Gallary/screen.jpg' %}" alt="24MotionPicture App1 Screenshots"></div>
			<div class="animate-box" data-animate-effect="fadeIn"><img src="{% static 'Gallary/screen-2.jpg' %}" alt="24MotionPicture App1 Screenshots"></div>
			
		</div>
	</div>

	<section id="abouts" class="abouts">
		<div class="container">
			<div class="row">
				<div class="abouts_content">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts_img text-center wow fadeInLeft" data-wow-duration="1s">
							<img src="{% static 'Gallary/abouts.png' %}" alt="" />
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts_text wow fadeInRight" data-wow-duration="1s">
							<h1>Pixel Perfect Design </h1>
							<p>Design is not just what it Looks like and Feels Like.Design is how it works</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Abouts Section -->	
	<section id="features" class="features">
		<div class="container">
			<div class="row">
				<div class="main_features">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_features_text wow fadeIn" data-wow-duration="2s">
							<h2>We make Native Apps</h2>
							<p>Native app development is the most surgical solution for a business mobile problem.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_features_img wow fadeIn" data-wow-duration="2s">
							<img src="{% static 'Gallary/features.png' %}" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Features Section -->

	<section id="works" class="works">
		<div class="container">
			<div class="row">
				<div class="main_works">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="single_works text-right wow fadeInLeft" data-wow-duration="2s">
							<div class="single_works_deatels">
								<i class="fa fa-desktop" ></i>
								<h5>Fully Responsive</h5>
								<p>Single code base – build once, run across all devices</p>
							</div>
							<div class="single_works_deatels">
								<i class="fa fa-square"></i>
								<h5>Creative Design</h5>
								<p>Creativity is Allowing yourself to make mistakes.Design is knowing which ones to keep</p>
							</div>
							<div class="single_works_deatels">
								<i class="icon icon-star"></i>
								<h5>Native App</h5>
								<p>It means taking into account the particularities of each OS. The codes, designs, and good practices that suit, look, and work the best.</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="single_works_text_middel text-center wow fadeInDown" data-wow-duration="2s">
							<img src="{% static 'Gallary/workiphone.png' %}" alt="" />
						</div>
					</div>
					
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="single_works text-left wow fadeInRight" data-wow-duration="2s">
							<div class="single_works_deatels">
								<i class="fa fa-bolt"></i>
								<h5>High performance</h5>
								<p>We designed to perform achive high speed and high standard.</p>
							</div>
							
							<div class="single_works_deatels">
								<i class="fa fa-credit-card-alt"></i>
								<h5>Payment Gatway</h5>
								<p>We provide payment getway service for android and ios apps.</p>
							</div>
							
							<div class="single_works_deatels">
								<i class="fa fa-database"></i>
								<h5>Realtime Database</h5>
								<p>We provide realtime database.Data is synced across all clients in realtime, and remains available when your app goes offline.</p>
							</div><!-- End of single works deatels -->
						</div>
					</div><!-- End of col-md-4 -->
				</div><!-- End of main Works -->
			</div><!-- End of row -->
		</div><!-- End of container -->
	</section>
{% endblock %}