{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="24Motion Pictures is Compnay of making websites and android apps and ios apps.Its Gives Buisness Solutions to small Buisness making Websites and E-commerce Webistes" />
        <meta name="keywords" content="Websites Development,Website Design,Dynamic Webite,E-Commerce webites,Android App,Ios APP Development,"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type ="image/png" href="{% static 'images/favicon.png' %}" >
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700" rel="stylesheet">
        <script src="https://use.fontawesome.com/9b7454109a.js"></script>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'web/css/plugins.css' %}" />
        <link rel="stylesheet" href="{% static 'web/css/style.css' %}" >
        
        <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}" />
        <script src="{% static 'js/modernizr-2.6.2.min.js'  %}"></script>
    
    </head>
    <body data-spy="scroll">
            <script type='application/ld+json'> 
            {
              "@context": "http://www.schema.org",
              "@type": "LocalBusiness",
              "name": "24MotionPictures",
              "url": "http://www.24motionpicture.com",
              "logo": "https://www.facebook.com/24motionpictures/photos/a.341832392654056.1073741825.341831835987445/341832405987388/?type=1&theater",
              "image": "https://www.facebook.com/24motionpictures/photos/a.341832392654056.1073741825.341831835987445/341832405987388/?type=1&theater",
              "description": "24MotionPictures is Company develop websites with awesome features it gives static, dynamic and E-Commerce websites.It develop Android Application and ios Appliactions. With Real-time database,responsive designs  and native Applications.Gives the Business Solution to Small businesses",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "Ruston colony,Chinchwad Pune",
                "postOfficeBoxNumber": "Chinchwad",
                "addressLocality": "Pune",
                "addressRegion": "Maharashtra",
                "postalCode": "411033",
                "addressCountry": "India"
              },
              "geo": {
                "@type": "GeoCoordinates",
                "latitude": "18.636656",
                "longitude": "73.776817"
              },
              "openingHours": "Mo, Tu, We, Th, Fr, Sa 08:00-22:00",
              "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+91(976)-368-339",
                "contactType": "technical support"
              }
            }
        </script>
        

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        {% include 'navbar.html' %}
        <header id="home" class="sections">
            <div class="container">
                <div class="row">
                    <div class="homepage-style">
                        <div class="top-arrow hidden-xs text-center"><img src="{% static 'web/images/top-arrow.png' %}" alt="" /></div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="unique-apps">
                                <h2><strong>WEBSITE DEVELOPMENT</strong></h2>
                                <ul>
                                    <p>
                                        <h3> We don't just sell websites, we create websites that SELL</h3>
                                        <h3>Websites promote you 24/7: No employee will do that</h3>
                                    </p>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="slider-area">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                       
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">

                                        <div class="item active">
                                            <img src="{% static 'web/images/1.png' %}" alt="" />
                                        </div>

                                        <div class="item">
                                            <img src="{% static 'web/images/slider2.png' %}" alt="" />
                                        </div>

                                        <div class="item">
                                            <img src="{% static 'web/images/slider3.png' %}"  alt="" />
                                        </div>

                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </header>
        <section id="our-portfolio" class="sections">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <div class="title text-center arrow-right">
                            <h4 class="">WHAT WE DO </h4>
                            <img class="hidden-xs" src="{% static 'web/images/right-arrow.png' %}" alt="" />

                        </div>
                    </div> 
                    <div class="portfolio-wrap">

                        <div class="portfolio">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img style="width:90%;height:80%"; src="{% static 'web/images/2.png' %}"/>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4> Creative design</h4>
                                        <ul style="list-style-type:disc">
                                            <li>Our proven creative website design services speak of your 
                                                brand,thus establishing an instant connection with your customers.</li><br>
                                            <li>Web design is one of the most effective services you can 
                                                utilize for your business.</li><br>
                                            <li>Creating sites isn’t just a service—it’s an art. <br> 
                                                Anyone can throw up a website these days, but will it look professional and deliver a clear message?</li><br>
                                            <li>It takes someone skilled to make a site that truly looks    
                                                polished and functional.</li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>DYNAMIC WEBSITES</h4>
                                    <ul style="list-style-type:disc">
                                        <li>Blending innovation in the right portion is all that defines our 
                                            dynamic web design services.</li><br>
                                        <li>Dynamic web All-In-One Business Platform</li><br>
                                        <li>WE supports your business with a powerful web content management
                                            platform. It is user friendly and designed
                                            to handle all your content including using for multiple sites, mobile, personalization and several content editors.</li><br>
                                        
                                    </ul>
                                    
                                   
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="portfolio-img img-responsive" src="{% static 'web/images/3.png' %}" alt="" />
                            </div>
                        </div>
                        <div class="portfolio">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="portfolio-img img-responsive" src="{% static 'web/images/5.png' %}"  alt="" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="portfolio-item">
                                    <h4>E-Commerce </h4>
                                    <ul style="list-style-type:disc" >
                                        <li>An ecommerce platform is a software application that allows 
                                            online businesses to manage their website, sales and operations.
                                            </li><br>
                                        <li>Whether you're expanding a brick-and-mortar store, 
                                            looking to
                                            switch solutions, or even starting a business from scratch, your choice of ecommerce platform has a huge impact on the profitability and stability of your business.</li><br>
                                        <li>We deliver a flawless shopping experience to your 
                                            customers 
                                            with our customized e-commerce solutions tailored to your needs.
                                            </li><br>
                                        <li>Search, Filters and Facets</li> 
                                    </ul>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="works-area" class="sections">
            <div class="container text-center">

                <div class="heading">
                    <div class="title text-center arrow-left">
                        <img class="hidden-xs" src="{% static 'web/images/left-arrow.png' %}" alt="" />

                        <h4 class="">HOW WE WORKS </h4>
                    </div>
                </div>  

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="main-works">
                            <img src="{% static 'web/images/map.png' %}" alt="" />
                        </div>
                    </div>
                </div>  
            </div>
        </section>

        <section id="our-feature" class="sections">
            <div class="container">
                <div class="heading">
                    <div class="title text-center arrow-left">
                        <img class="hidden-xs" src="{% static 'web/images/left-arrow.png'%}" alt="" />

                        <h4 class="">Our Features</h4>
                    </div>
                </div>

                <div class="feature-wrapper">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content "> 
                                <h4><i class="fa fa-desktop" aria-hidden="true"></i><span>Responsive</span></h4>
                                <p> <br>We create Responsive websites. So you can use your website from any device.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-user-circle" aria-hidden="true"></i><span> Admin Pannel</span></h4>
                                <p><br>We provide UI Admin pannel for your websites.You can update your website easily.We provide UI Admin pannel for your websites</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-search"></i><span>SEO</span></h4>
                                <p><br> We also focuses on creating informative and keyword relevant title tags and meta descriptions, which show up in the result pages</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-pencil"></i><span>Content Writing</span></h4>
                                <p><br>Content reminds us that dreams can come true.
                                       We Focus on Content that tells us story </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-money"></i><span>Ecommerce</span></h4>
                                <p><br>E-commerce is the way of the Future.
                                       We focus on giving better solution to your Business.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-comments"></i><span>Chatbot</span></h4>
                                <p><br>They communicate and perform basic tasks such as answering questions or placing product orders.</p>
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-paint-brush"></i><span>Creativity</span></h4>
                                <p><br>Creativity is the act of turning new and imaginative ideas into reality. Creativity involves Thinking and Producing.</p>
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>Reliable Hosting</span></h4>
                                <p><br>Hosting is home of your website, thats our responsibility to protect your home.</p>
                            </div>
                        </div>

                         <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="features-content"> 
                                <h4><i class="fa fa-database"></i><span>Security</span></h4>
                                <p><br>We provide Security for websites that can not harm from outsider.</p>
                            </div>
                        </div>
                    </div>  
                </div>      
            </div>
        </section>
        <section id="our-supports" class="sections">
            <div class="container">

                <div class="heading">
                    <div class="title text-center arrow-left">

                        <h4 class="">Updates & Support</h4>
                        <img class="hidden-xs" src="{% static 'web/images/right-arrow.png' %}" alt="" />
                    </div>
                </div>

                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="supports-content">
                            <ul style="list-style-type:disc">
                                <li><h3>Ongoing support(bug handling, prob analysis and resolution)</h3></li>
                                <li><h3>New funation enhancement.</h3></li>
                                <li><h3>Technical emprovement.</h3></li>
                                <li><h3>We provide one year website maintainance.</h3></li> 
                                <li><h3>Our team is always ready for solving your queries</h3></li>
                            </ul>
                          <!--  <div class="spt-btn"><button class="btn btn-primary">SUPPORT CENTER</button></div>-->
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="supports-img"><img class="img-responsive" src=" {% static 'web/images/Support.png' %}" alt="" /></div>
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>
    
        
    <footer id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>Contact Us</h3>
          <p>Ruston Colony,Chinchwad Pune-411033<br>Mobile NO-9763683339</p>
                <p><a href="{% url 'contact' %}" class="btn btn-primary btn-outline with-arrow btn-sm">Join Us <i class="icon-arrow-right"></i></a></p>
            </div>
            <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>Our Services</h3>
                <ul class="float">
                    <li><a href="{% url 'WebdevView' %}">Web Development</a></li>
                    <li><a href="{% url 'SoftwareView' %}">Software Development</a></li>
                    <li><a href="{% url 'gallary' %}">Photography</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                  <h3>Follow Us</h3>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/24motionpictures/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.instagram.com/24_motion_pictures/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    </ul>
            </div>
        </div>
    </footer>
        <script src="{% static 'web/js/vendor/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'web/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'web/js/plugins.js' %}"></script>
        <script src="{% static 'web/js/main.js' %}"></script>
    </body>

</html>
